@use '../base/reset.scss';
@use '../components/header.scss';
@use '../components/footer.scss';

.boards__container {
    display: flex;

}

.board {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    flex: 0 1 50%;

    &.shoot {
      border: 2px solid red;
      box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.503);
    }
  }

  .cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
